body {
    background-color: black;
    min-height: 100vh;
}

h1 {
    color: white;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

p,
.choices {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-height: 100vh;
}

.card {
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    display: inline-block;
    width: 420px;
    height: 420px;
}

.star {
    width: 45px;
    height: 45px;
    /* background-color: hsl(216, 12%, 54%); */
}

.star-img {
    border: 15px solid hsl(216, 12%, 54%);
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 35px;
}

.text {
    margin-top: 60px;
    margin-left: 35px;
    margin-right: 35px;
}

.choices {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: space-between;
}

.choices button {
    /* border: 15px solid hsl(216, 12%, 54%); */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: hsl(216, 12%, 54%);
}

button {
    background-color: hsl(25, 97%, 53%);
    width: 345px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: white;
    margin-top: 25px;
    font-size: 15px;
}

.submit {
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
}


/* .choices {

    border-radius: 50%;
} */